Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
#RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^.*$ - [NC,L]
#RewriteRule ^.*$ index.php?$1 [NC,L]
RewriteRule ^.*$ index.php [NC,L]
#RewriteRule ^([A-Za-z0-9_\-]+)\.html$ ./?$1
#RewriteRule ^(.*)$ index.php
